.side-bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "icons__edit-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icons__cog-btn" do
          = icon('fas', 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group-info
        = link_to edit_group_path(current_user) do
          .group-info__groupname
            = group.name
          .group-info__messages 
            メッセージはまだありません